#screens{
	//background-color: #3668F0;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	padding-top: 30px;
	padding-bottom: 60px;
	#title-screen{
		margin-bottom: 40px;
		h3{
			color: #fff;
			font-family: $lato;
			font-size: 3.5em;
			text-align: center;
		}
	}
	.main-carousel{
		padding-bottom: 25px;
		.carousel-cell {
		  width: 100%;
		  //height: 400px !important;
		  //background: #8C8;
		  .content-slide{
		  	max-width: 800px;
		  	margin: 0 auto;
		  	p{
		  		font-family: $lato;
		  		font-size: 2em;
		  		color: #fff;
		  	}
		  	img{
		  		width: 330px;
		  		float: right;
		  	}
		  	@media (max-width: 992px) {
		  		img{
		  			float: none;
		  			padding-bottom: 40px;
		  			display: block; 
		  			margin: 0 auto;
		  		}
		  	}
		  	.barscreen{
		  		margin-top: 20px;
		  		width: 180px;
		  		height: 8px;
		  		background-color: #fff;
		  	}
		  }
		}
	}
}


